@keyframes move-pattern {
    0% {
      transform: translateX(0) translateY(0) scale(1);
    }
    50% {
      transform: translateX(30px) translateY(-30px) scale(1.05);
    }
    100% {
      transform: translateX(0) translateY(0) scale(1);
    }
  }
  
  .pattern-dots {
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .animate-move-pattern {
    animation: move-pattern 10s ease-in-out infinite;
  }
  
  .delay-2 {
    animation-delay: 2s;
  }
  